/* Estilos generales para el header */
.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos de la barra de navegación */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Lista de enlaces */
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #a3d6f3;
  }
  
  /* Contenedor para el logo */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  