<div class="choose-game-container">
    <h1>Selecciona un Minijuego</h1>
    <div class="game-options">
      <div class="game-option">
        <a href="game-1" class="game-link">
          <img src="assets/img/game-1.png" alt="Minijuego de Derivadas" class="game-image" />
          <div class="game-title">Acierta la Tangente</div>
          <p>Ayuda a la bolita a recorrer la función y encontrar la derivada.</p>
        </a>
      </div>
      <div class="game-option">
        <a href="game-2" class="game-link">
          <img src="assets/img/game-2.png" alt="Minijuego de Cálculo" class="game-image" />
          <div class="game-title">Elige la Derivada Correcta</div>
          <p>Resuelve los ejercicios y demuestra tus habilidades en cálculo.</p>
        </a>
      </div>
    </div>
  </div>
  